.news
	background: url("assets/img/news-bg.jpg")
		size: cover
		repeat: no-repeat

	&--title
		color: #fff
		margin: 0 0 40px

	&--container
		padding: 70px 0

	&.single-page
		background: #f6f6f6

@media (max-width: 767px)
	.news
		&--container
			padding: 35px 0