.menu
	padding: 70px 0 90px
	text-align: center
	position: relative
	overflow: hidden

	&--title
		font-size: 24px
		font-family: $section-title-font
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 40px

	&--categories
		list-style: none
		padding: 0
		margin-bottom: 60px

	&--category
		display: inline-block
		padding: 15px 30px
		border: 2px solid transparent

		a
			text-transform: uppercase
			font-weight: 700
			color: #878787
			text-decoration: none
			font-size: 21px

			&:hover
				color: $main-color

		&.active
			border: 2px solid $main-color

			a
				color: $main-color

	&--bg-image-left
		position: absolute
		left: -200px
		max-width: 400px
		height: auto
		bottom: 20px

	&--bg-image-right
		position: absolute
		right: -200px
		max-width: 400px
		height: auto
		top: 0

@media (max-width: 991px)
	.menu
		padding: 35px 0

		&--bg-image-left, &--bg-image-right
			display: none