body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #fff;
}

p {
  line-height: 20px;
}

.clearfix {
  clear: both;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  text-align: center;
}
.header--content {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}
.header--main-title {
  font-size: 60px;
  color: #fff;
  margin-bottom: 40px;
}
.header--sub-title {
  color: #ed6b22;
  font-size: 21px;
}
.header--down-btn {
  color: rgba(255, 255, 255, 0.4);
  font-size: 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  line-height: 48px;
}
.header--down-btn:hover {
  cursor: pointer;
  color: #ed6b22;
  border-color: #ed6b22;
}

@media (max-width: 767px) {
  .header--down-btn {
    display: none;
  }
  .header--main-title {
    margin-bottom: 20px;
  }
  .header--content {
    margin-top: 15px;
  }
}
.navbar {
  background: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  transition: all 400ms ease-in-out;
}
.navbar .navbar-header .navbar-brand {
  height: auto;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -43px;
  margin-left: 0px;
  transition: all 400ms ease-in-out;
}
.navbar .navbar-header .navbar-brand img {
  height: 86px;
  transition: all 400ms ease-in-out;
}
.navbar .navbar-nav li a {
  color: #fff;
  text-shadow: none;
  font-weight: 500;
  padding: 17px 0 10px;
  margin: 64px 20px;
  border-bottom: 2px solid transparent;
  transition: all 400ms ease-in-out;
}
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
  border-bottom: 2px solid #ed6b22;
  color: #fff;
}
.navbar .navbar-nav li:last-child a {
  margin-right: 10px;
}
.navbar .navbar-nav li.highlighted a {
  border: 2px solid #fff;
  padding: 15px 30px;
}
.navbar .navbar-nav li.highlighted a:hover {
  border-color: #ed6b22;
}

@media (min-width: 768px) {
  .navbar.smaller {
    background: rgba(49, 39, 42, 0.95);
  }
  .navbar.smaller .navbar-nav a {
    margin: 10px 20px;
  }
  .navbar.smaller .navbar-header .navbar-brand {
    margin-top: -25px;
  }
  .navbar.smaller .navbar-header .navbar-brand img {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .navbar {
    background: rgba(49, 39, 42, 0.95);
  }
  .navbar .navbar-header .navbar-brand {
    position: static;
    margin: 0;
  }
  .navbar .navbar-header .navbar-brand img {
    padding: 8px 15px;
    height: 55px;
  }
  .navbar .navbar-header .navbar-toggle {
    border: 0;
    background: none;
    padding-top: 12px;
  }
  .navbar .navbar-header .navbar-toggle .icon-bar {
    background-color: #ed6b22;
  }
  .navbar .navbar-header .navbar-toggle.collapsed .icon-bar {
    background-color: #fff;
  }
  .navbar .navbar-nav li a {
    padding: 10px 0px 10px;
    margin: 15px 20px;
  }
  .navbar .navbar-nav li a:hover {
    border-bottom: 2px solid transparent;
  }
  .navbar .navbar-nav li:last-child a {
    margin: 15px 20px;
  }
  .navbar .navbar-nav li.highlighted a {
    border-color: transparent;
  }
  .navbar .navbar-nav li.highlighted a:hover {
    border-color: transparent;
  }
}
.btn {
  font-weight: 500;
  text-transform: uppercase;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.cta-btn {
  background: #ed6b22;
  color: #fff;
  border: 0;
  /* Layout hajoaa jos padding > 14px ja font-size > 14px Windows Phonella */
  padding: 15px 30px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .cta-btn {
    padding: 20px 14px;
    font-size: 14px;
  }
}
.intro {
  background: #342a2e;
  color: #d9d9d9;
}
.intro--article {
  padding: 60px 40px 60px 0px;
}
.intro--image {
  max-width: 160px;
  height: 160px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
  background: url("../img/intro-feature.jpg");
  background-position: center;
  margin: 20px auto 0;
}
.intro--title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.intro--body p:last-child {
  margin-bottom: 0;
}

.intro-info {
  background: #2c2426;
}
.intro-info--column {
  margin: 40px 0;
}
.intro-info--container {
  min-height: 215px;
  text-align: center;
  padding: 50px 0;
}
.intro-info--content {
  display: inline-block;
  text-align: left;
}
.intro-info--icon-container {
  font-size: 30px;
  border: 1px solid #534a4c;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 65px;
  margin: 0 auto 40px;
}
.intro-info--title {
  color: #d9d9d9;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.intro-info--body {
  color: #e1bda9;
  margin-bottom: 15px;
}
.intro-info--body span {
  display: block;
}
.intro-info--link a {
  color: #ed6b22;
  text-transform: uppercase;
  font-weight: 500;
}

.intro-info--column:first-child {
  border-right: 1px solid #534a4c;
}

.intro-info--column:last-child {
  border-left: 1px solid #534a4c;
  margin-left: -1px;
}

@media (max-width: 1199px) {
  .intro--image {
    display: none;
  }
}
@media (max-width: 991px) {
  .intro--article {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .intro-info--link a i {
    display: none;
  }
  .intro-info--column {
    margin: 20px 0;
  }
  .intro-info--container {
    padding: 25px 0;
  }
  .intro-info--icon-container {
    margin-bottom: 25px;
  }
}
section {
  position: relative;
}
section.light-section {
  background: #fff;
  color: #5e5e5e;
}
section.dark-brown-section {
  background: #2c2426;
}
section.light-brown-section {
  background: #342a2e;
  color: #d9d9d9;
}

.dark-bg-half {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: #342a2e;
}

.menu {
  padding: 70px 0 90px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.menu--title {
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.menu--categories {
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}
.menu--category {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid transparent;
}
.menu--category a {
  text-transform: uppercase;
  font-weight: 700;
  color: #878787;
  text-decoration: none;
  font-size: 21px;
}
.menu--category a:hover {
  color: #ed6b22;
}
.menu--category.active {
  border: 2px solid #ed6b22;
}
.menu--category.active a {
  color: #ed6b22;
}
.menu--bg-image-left {
  position: absolute;
  left: -200px;
  max-width: 400px;
  height: auto;
  bottom: 20px;
}
.menu--bg-image-right {
  position: absolute;
  right: -200px;
  max-width: 400px;
  height: auto;
  top: 0;
}

.mobile-menu-tabs {
  display: inline-block;
  text-transform: uppercase;
  display: none;
}
.mobile-menu-tabs > a {
  display: inline-block;
  width: 100%;
  padding: 15px 30px;
  border: 2px solid #ed6b22;
  font-weight: 700;
  color: #ed6b22;
  text-decoration: none;
  font-size: 21px;
}
.mobile-menu-tabs.open {
  border-color: #ed6b22;
}
.mobile-menu-tabs.open > a {
  color: #ed6b22;
}
.mobile-menu-tabs .dropdown-menu {
  width: 100%;
  border: 2px solid #ed6b22;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  margin-top: -2px;
  padding: 0;
}
.mobile-menu-tabs .dropdown-menu a {
  color: #878787;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 15px;
}
.mobile-menu-tabs .dropdown-menu a:hover {
  color: #ed6b22;
  background: none;
}
.mobile-menu-tabs .dropdown-menu .active a {
  background: #ed6b22;
  color: #fff;
}

@media (max-width: 1199px) {
  .menu {
    padding: 35px 0;
  }
  .menu--bg-image-left, .menu--bg-image-right {
    display: none;
  }
}
@media (max-width: 991px) {
  .menu--category {
    display: none;
  }

  .mobile-menu-tabs {
    display: block;
  }
  .mobile-menu-tabs > a {
    font-size: 18px;
  }
}
.dish {
  color: #5e5e5e;
  text-align: left;
  margin-bottom: 30px;
}
.dish:last-child {
  margin-bottom: 130px;
}
.dish--title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}
.dish--desciption {
  font-size: 15px;
}
.dish--price {
  float: right;
  color: #ed6b22;
  font-weight: 700;
}

@media (max-width: 991px) {
  .dish:last-child {
    margin-bottom: 30px;
  }
}
.contact {
  text-align: center;
  padding: 55px 0;
}
.contact--title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 45px;
}

.contact-item--icon {
  font-size: 22px;
  color: #ed6b22;
  margin-bottom: 15px;
}
.contact-item--title {
  text-transform: uppercase;
  font-weight: 500;
}
.contact-item--content a {
  color: #d9d9d9;
  text-decoration: none;
}
.contact-item--content a:hover {
  color: #ed6b22;
}

@media (max-width: 767px) {
  .contact {
    padding-bottom: 30px;
  }

  .contact-item {
    margin-bottom: 30px;
  }
}
#map {
  height: 310px;
}

.footer {
  background: #2c2426;
  color: #d9d9d9;
  line-height: 87px;
  padding: 30px 0;
}
.footer--logo {
  position: absolute;
  left: 50%;
  margin-left: -80px;
}
.footer--copyright {
  float: right;
}
.footer--links {
  padding: 0;
  margin: 0;
  float: left;
  list-style-type: none;
}
.footer--link {
  float: left;
  padding: 5px 0;
}
.footer--link a {
  color: #d9d9d9;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}
.footer--link a:hover {
  color: #ed6b22;
}
.footer--link-separator {
  padding: 0px 12px;
  font-size: 6px;
  position: relative;
  top: -4px;
}

@media (max-width: 991px) {
  .footer {
    line-height: inherit;
    text-align: center;
  }
  .footer--logo {
    display: block;
    margin: 0 auto;
    position: static;
    margin-bottom: 20px;
  }
  .footer--links {
    float: none;
    padding-bottom: 20px;
  }
  .footer--link {
    float: none;
  }
  .footer--link-separator {
    display: none;
  }
  .footer--copyright {
    float: none;
  }
}
@media (max-width: 767px) {
  .header--sub-title {
    font-size: 18px;
  }
  .header--main-title {
    font-size: 36px;
    margin-top: 0;
  }

  .dark-bg-half {
    position: static;
  }
}
